<script>
	import Counter from './Counter.svelte';
	import Modal from 'svelte-simple-modal';
</script>

<svelte:head>
	<title>The Climate Game</title>
	<meta name="description" content="The Climate Game" />
</svelte:head>

<section>
	<h1>
		the climate game<br />
	</h1>
<Modal>
	<Counter />
</Modal>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0.6;
	}

	h1 {
		width: 100%;
	}
</style>
