<script lang="ts">
	import { spring } from 'svelte/motion';
	import * as myjson from './data.json'
	import EndPopup from './End.svelte'
	import { getContext } from 'svelte';
	import { LinkPreview } from 'svelte-link-preview';
	
	const { open }: any = getContext('simple-modal');
	
	let count = 0;
	let level = 0;
	let life = 3
	let errors: number[] = [];
	let showUnlimited = false
	let unlimited = false
	let linkPreview = false

	const displayed_count = spring();
	$: displayed_count.set(level);
	$: offset = modulo($displayed_count, 1);

	function modulo(n: number, m: number) {
		// handle negative numbers
		return ((n % m) + m) % m;
	}

	function no() {
		errors.push(count)
		count += 1
		if (!unlimited) {
			life -= 1
		}
		checkEnd()
	}

	function oui() {
		count += 1
		level += 1
		checkEnd()
	}

	function checkEnd() {
		if (life <= 0 || myjson.data.length <= count) {
			open(EndPopup, { message: endMessage(), errors: errors, level: level })
			showUnlimited = true
			level = 0
			errors = []
			count = 0
			life = 3
		}
	}

	function endMessage() {
		if (level == 0) {
			return "Il faut avant tous comprendre pourquoi la crise climatique est un problème, et utiliser cette connaissance pour motiver une envie d'agir !"
		}
		if (level < 5) {
			return "C'est un bon début, voici les prochaines étapes"
		}
		if (level < 10) {
			return "🌳 Félicitations, tu fais des efforts, mais comment encore s'améliorer ? 🌳"
		}
		if (level < 15) {
			return "🌳 Tu es activement investi, il ne te manque pas grand chose pour être au top ! 🍾"
		}
		return "🌳🌳🌳 On dirait que tu as tout compris ! 🌳🌳🌳"
	}
</script>


<h1>
	{myjson.data[count].question}
</h1>

<h2>
<div class="counter">

	<button on:click={() => oui()} aria-label="Bravo !">
		<p>Oui</p>
	</button>
	<button on:click={() => no()} aria-label="Une piste d'amélioration">
		<p>Non</p>
	</button>



</div>
{#if myjson.data[count].skipable}
<div class="counter">
	<button  on:click={() => (count += 1)} aria-label="Situation non applicable">
		<p>Passer</p>
	</button>
</div>
{/if}

</h2>
<!--{#if unlimited}-->
<div role="contentinfo" aria-label="preview link on hover" on:mouseenter={() => {linkPreview = true}} on:mouseleave={() => {linkPreview = false}}>
	<a id="mydiv" href="{myjson.data[count].link}" target="_blank" on:focus={()=>{}} on:mouseover={()=> {
		linkPreview = true
	}}><p>En savoir plus</p>
	{#if linkPreview}
<LinkPreview url="{myjson.data[count].link}" proxyUrl="https://proxy.magellancl.pro"></LinkPreview>
{/if}
</a>
</div>
<!--{/if}-->
<p>
	Niveau
</p>
<div class="counter-viewport">
	<div class="counter-digits" style="transform: translate(0, {100 * offset}%)">
		<strong class="hidden" aria-hidden="true">{Math.floor($displayed_count + 1)}</strong>
		<strong>{Math.floor($displayed_count)}</strong>
	</div>
</div>
{#if !unlimited}
<div class="life">
{#if life > 0}
	<svg class="heart" viewBox="0 0 32 29.6">
	<path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
	  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
  </svg>
{/if}
{#if life > 1}
<svg class="heart" viewBox="0 0 32 29.6">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
	c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
</svg>
{/if}
{#if life > 2}
<svg class="heart" viewBox="0 0 32 29.6">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
	c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
</svg>
{/if}
</div>
{/if}

{#if showUnlimited && !unlimited}
<button style="font-size: 1.4em;width: 7em;" on:click={() => (unlimited = !unlimited)} aria-label="Mode illimité">
	<p>Mode infini</p>
</button>
{/if}
{#if unlimited}
<button style="font-size: 1.4em;width: 7em;" on:click={() => (unlimited = !unlimited)} aria-label="Mode normal">
	<p>Mode normal</p>
</button>
{/if}
{#if level>=15}
<footer class="footer">
	📧<a href="mailto: magellancl.pro@gmail.com">Envoie moi tes idées de questions</a>
</footer>
{/if}
<style>
	.heart {
		fill: green;
  		position: relative;
 /* 		animation: pulse 1s ease infinite; */
	}
	@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

	.life {
  		display: grid;
  		margin: 1rem 0;
  		grid-template-columns: repeat(3, minmax(20px, 1fr));
		grid-gap: 0.8rem;
	}

	.counter {
		display: flex;
		align-items: center;
		margin: 1rem 0;
		gap: 20px;
	}

	button {
		width: 6em;
		height: auto;

		white-space: nowrap;
		display:flex;
		align-items: center;
		justify-content: center;
		border: 10;
		background-color: transparent;
		touch-action: manipulation;
		font-size: 2rem;
		margin-left: auto;
		margin-right: auto;
	}

	.counter button:hover {
		background-color: var(--color-bg-1);
	}

	.counter-viewport {
		width: 8em;
		height: 4em;
		overflow: hidden;
		text-align: center;
		position: relative;
	}

	.counter-viewport strong {
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;
		font-weight: 400;
		color: var(--color-theme-1);
		font-size: 4rem;
		align-items: center;
		justify-content: center;
	}

	.counter-digits {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.hidden {
		top: -100%;
		user-select: none;
	}

	.footer {
		position: fixed;
		bottom: 0px;
	}
</style>
