<script lang="ts">
	import * as myjson from './data.json'
    export let errors:  number[]
    export let level = 0
    export let message = "The end"
  </script>
  

  <h1>
    Niveau {level}
  </h1>
  <h2>{message}</h2>

<div class="errors">
  {#each errors as id}
  <p style="text-align:center;">{myjson.data[id].information}
  <a href="{myjson.data[id].link}" target="_blank"><img alt="{myjson.data[id].information}" class="image" src="{myjson.data[id].image}" title="{myjson.data[id].information}"></a></p>
  {/each}
</div>

<style>
  h2 {
        font-size: 2rem;
        text-align: center;
    }
    .errors {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		grid-gap: 0.8rem;
}
.image {
  cursor: pointer;
  width:100%;
  max-width:400px;
  max-height:400px;
  transition: 0.125s;
}

.image:hover {
  opacity: 0.7;
}

img:active {
  opacity: 0.5;
}
</style>