<script>
	import { page } from '$app/stores';
	import github from '$lib/images/gitlab-logo.svg';
</script>

<header>

	<div class="corner">
		<a href="https://gitlab.com/SoulNoraifu/the-climate-game">
			<img src={github} alt="GitLab" />
		</a>
	</div>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
	}

	.corner {
		width: 3em;
		height: 3em;
		position: absolute; top: 0px; right: 0px;
	}

	.corner a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.corner img {
		width: 2em;
		height: 2em;
		object-fit: contain;
	}

	a:hover {
		color: var(--color-theme-1);
	}
</style>
